/* 业务表单 */
form.entity-form {
	padding: 0 5px 0 0;
}

/*业务分组TABLE*/
.entity-group {
	width: 100%;
	border: 1px solid #dddddd;
	background-color: transparent;
	margin: 2px 5px 2px 0;
	padding: 1px;
}

.entity-group>table {
	BORDER-COLLAPSE: collapse;
}

.entity-group-header {
	padding: 5px;
	border: 1px solid #bfd4e0;
	background: #E0ECFF;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	color: #1d5987;
	margin-bottom: 1px;
}
/*业务字段名称TD*/
.entity-field-header {
	width: 80px;
	height: 24px;
	white-space: nowrap;
	background-color: #dfeffc;
	border: 1px solid #c5dbec;
	color: #05538a;
	text-align: right;
	padding: 2px;
	font-weight: normal;
}
/*业务字段输入框TD*/
.entity-field-box {
	background-color: #fcfdfd;
	border: 1px solid #c5dbec;
	padding: 1px 2px 1px 2px;
	height: 24px;
}

.entity-field-box,.entity-field-box input,.entity-field-box textarea {
	font-size: 12px;
}

.entity-field-box .CbB {
	height: 20px;
}
/*INPUT/SELECT/TEXTAREA等输入框*/
.entity-field-box .input,.entity-field-box .select,.entity-field-box .textarea {
	width: 200px;
	height: 20px;
	margin: 0;
	border: 1px solid #96afe5;
	padding: 0px;
	font-family: "Lucida Grande", "Arial", "Lucida", "Verdana", "Helvetica",
		"宋体", "sans-serif";
}

.entity-field-box .select {
	width: 202px;
	height: 22px;
	padding: 1px;
}

.entity-field-box .select option {
	height: 19px;
}

.entity-field-box .textarea {
	width: 100%;
	height: 60px;
	overflow: auto;
}