a.l-btn span.l-btn-icon{
	padding: 1px 5px 3px 5px;
	margin-right: 5px;
	height: 16px;
	width: 16px;
}
.icon-logo {
	background: url('images/icon/setting.png') no-repeat left center;
}
.icon-check{
	background: url('images/icon/check.gif') no-repeat center center;
}
.icon-uncheck{
	background: url('images/icon/uncheck.gif') no-repeat center center;
}
.icon-setting {
	background: url('images/icon/setting.png') no-repeat left center;
}
/* 格式：icon-操作码 */
/* 添加 */
.icon-101 {
	background: url('images/entity.png') no-repeat 0 -16px;
}
/* 删除 */
.icon-299 {
	width: 16px;
	height: 16px;
	padding: 8px;
	background: url('images/entity.png') no-repeat -16px -16px;
}
/* 修改 */
.icon-102 {
	width: 16px;
	height: 16px;
	padding: 8px;
	background: url('images/entity.png') no-repeat -32px -16px;
}
/* 批量修改 */
.icon-103 {
	width: 16px;
	height: 16px;
	padding: 8px;
	background: url('images/entity.png') no-repeat -32px -16px;
}
/* 详情 */
.icon-199,.icon-250,.icon-251,.icon-252,.icon-253,.icon-256 {
	background: url('images/entity.png') no-repeat -80px -16px;
}
/* 排序 */
.icon-250 {
	
}
/* 上移 */
.icon-251 {
	
}
/* 下移 */
.icon-252 {
	
}
/* 倒排序 */
.icon-253 {
	
}
/* 取消排序 */
.icon-256 {
	
}

.icon-mode-M {
	background: url('images/icon/required.gif') no-repeat center center;
	width: 16px;
	height: 16px;
}
